body{
    text-align: center;
}
/* header */
h1{
    font-family: Arial, Helvetica, sans-serif;
}

/* each square of the board */
.square{
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid black;
    display: inline-block;
}

/* Player 1 icon */
.O{
    position: relative;
}
.O:after{
    position: absolute;
    content: "\1F6E1";
    font-size: 50PX;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Player 2 icon */
.X{
    position: relative;
}
.X:after{
    position: absolute;
    content: "\2694";
    font-size: 50PX;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#newGame{
    
}